.theme-color {
  color: #CF9F4A !important;
}
.theme-color--hover-blk:hover {
  color: #000 !important;
}

.color-black {
  color: #000 !important;
}

.hover-theme-color:hover {
  color: #CF9F4A !important;
}

.active {
  color: #CF9F4A !important;
}

.fade-carousel {
  -webkit-animation-name: fade-carousel;
  -webkit-animation-duration: 1.5s;
  animation-name: fade-carousel;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade-carousel {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-carousel {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.heading-secondary {
  margin: 0.25em 0;
}

p {
  font-weight: 200;
  font-size: 1.2em;
}

.btn-container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.5em 4em;
  text-align: center;
  border: 1px solid #222222;
  border-radius: 4px;
  margin: 1em 0;
  text-decoration: none;
  color: #000;
}
.button:hover {
  opacity: 0.9;
  text-decoration: none;
  color: #CF9F4A;
  border-color: #CF9F4A;
}

.card-custom {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
}
.card-custom:hover {
  border-color: #CF9F4A;
}
.card-custom__banner {
  height: 7em;
  position: relative;
  display: block;
  width: 100%;
}
.card-custom__title {
  display: block;
  position: relative;
  padding: 0 0.75em;
  text-align: center;
  margin: 0.75em 0;
}
.card-custom__date {
  display: block;
  position: relative;
  padding: 0 0.75em;
  text-align: center;
  font-size: 0.85em;
  margin: 0;
}
.card-custom__time {
  display: block;
  position: relative;
  padding: 0 0.75em;
  text-align: center;
  font-size: 0.75em;
  margin: 0;
}

.carousel {
  margin: 3em 0;
}
.carousel__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carousel__left-arrow, .carousel__right-arrow {
  flex: 1;
  color: #FFF;
  text-align: center;
  font-size: 3em;
}
.carousel__left-arrow i:hover, .carousel__right-arrow i:hover {
  cursor: pointer;
  opacity: 0.5;
}
.carousel__left-arrow--color-black, .carousel__right-arrow--color-black {
  color: #000;
}
.carousel__content {
  width: 80%;
}
.carousel__slide:not(:first-of-type) {
  display: none;
}
.carousel__dots {
  text-align: center;
}
.carousel__dot {
  height: 0.985em;
  width: 0.985em;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color, border-color 0.5s ease;
}
.carousel__dot:hover {
  cursor: pointer;
}
.carousel__dot--default {
  border: 2px solid #222222;
}
.carousel__dot--default:hover {
  border-color: #eeeeee;
  background-color: #eeeeee;
}
.carousel__dot--default.carousel__dot--active {
  border-color: #eeeeee;
  background-color: #eeeeee;
}
.carousel__dot--color-black {
  border: 2px solid #000;
}
.carousel__dot--color-black:hover {
  border-color: #2d2d2d;
  background-color: #2d2d2d;
}
.carousel__dot--color-black.carousel__dot--active {
  border-color: #000;
  background-color: #000;
}
.carousel__dot--small {
  height: 0.685em;
  width: 0.685em;
  margin: 0 0.5em;
}

.event {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.event__banner {
  position: relative;
  display: block;
  width: 100%;
}
.event__image {
  height: 100%;
  width: 100%;
}
.event__title {
  font-size: 2em;
  text-align: center;
  padding: 0 2em;
}
.event__desc {
  position: relative;
  padding: 0 2em;
}
.event__date-time {
  position: relative;
  padding: 0 2em;
  text-align: center;
}
.event__cta {
  text-align: center;
}

@supports (display: flex) {
  .flex {
    display: flex;
  }
  .flex--align-items-center {
    align-items: center;
  }
  .flex--justify-content-center {
    justify-content: center;
  }
}
.footer {
  padding: 100px 0 50px !important;
}
.footer--bg-white {
  background-color: #FFF;
}

@supports (display: grid) {
  .grid {
    display: grid;
    margin: 1em 0;
    padding: 0;
  }
  .grid--gap-1 {
    grid-gap: 1em;
  }
  .grid--justify-items-center {
    justify-items: center;
  }
  .grid--align-items-center {
    align-items: center;
  }
  .grid--events {
    grid-template-columns: repeat(4, minmax(15em, auto));
    grid-auto-rows: minmax(15.75em, auto);
  }
  .grid__item {
    position: relative;
    height: 100%;
    width: 100%;
    list-style-type: none;
  }

  @media (max-width: 1060px) {
    .grid--events {
      grid-template-columns: repeat(2, minmax(15em, auto));
    }
  }
  @media (max-width: 660px) {
    .grid--events {
      grid-template-columns: repeat(1, minmax(15em, auto));
    }
  }
}
#main-content {
  background-size: cover;
}
#main-content::before {
  background-image: none !important;
}

#home {
  height: 635px !important;
}

#milestone {
  height: 20em;
}

.content-bg:nth-of-type(2) {
  padding: 3em 0;
}

#firstName {
  display: none;
}

.input-error {
  display: none;
  font-size: 0.85em;
  color: red;
}

#events-carousel {
  max-width: 90em;
  display: block;
  margin: 0 auto;
}

.event-detail {
  margin: 10em 2em 3em;
}
.event-detail__container {
  position: relative;
  display: block;
  max-width: 60em;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 4px;
}
.event-detail__container:hover {
  border-color: #CF9F4A;
}

/*# sourceMappingURL=custom-styles.css.map */
