// Standards
$color-white: #FFF;
$color-black: #000;

// Theme Colors
$theme-color-gold: #CF9F4A;
$theme-color-light-gold: #D9B26E;
$theme-color-dark-gold: #A67F3B;

// Social Icon Colors

$color-facebook: #4267b2;
$color-hover-facebook: #3B5998;

$color-twitter: #38A1F3;
$color-hover-twitter: #4099FF;

// Responsive Breakpoints

// 320px
$extra-small-device-width: 20.000em;

// 450px
$small-device-width: 28.125em;

// 800px
$medium-device-width: 50em;