// Standards
$color-white: #FFF;
$color-black: #000;

// Theme Colors
$theme-color-gold: #CF9F4A;
$theme-color-light-gold: #D9B26E;
$theme-color-dark-gold: #A67F3B;


// Responsive Breakpoints

// 320px
$extra-small-device-width: 20.000em;

// 450px
$small-device-width: 28.125em;

// 800px
$medium-device-width: 50em;