@supports (display: flex){
    .flex{
        display: flex;

        &--column{
            flex-flow: column;
        }

        &--row{
            flex-flow: row;
        }

        &--no-wrap{
            flex-wrap: nowrap;
        }

        &--wrap{
            flex-wrap: wrap;
        }

        &--align-items-center{
            align-items: center;
        }

        &--justify-content-center{
            justify-content: center;
        }

        &__item{

            &--1-of-4{
                flex: 1 0 21%;
                margin: .5em;
            }
        }
    }

    @media (max-width: 1000px){

        .flex{

            &__item{

                &--1-of-4{
                    flex: 1 0 47%;
                }

            }
        }
    }
}
