.btn{
    &-container{
        text-align: center;
    }

    &-gold{
        background-color: $theme-color-gold;
        color: #FFF;

        &:hover{
            background-color: $theme-color-light-gold;
            // background-color: $theme-color-dark-gold;
            color: #000;
        }
    }
}

.button{
    display: inline-block;
    padding: .5em 4em;
    text-align: center;
    // border: 1px solid #222222;
    // border: 1px solid $color-white;
    border: 1px solid $theme-color-gold;
    border-radius: 4px;
    margin: 1em 0;
    text-decoration: none;
    // color: #000;
    // color: $color-white;
    color: $theme-color-gold;

    &:hover{
        opacity: .9;
        text-decoration: none;
        color: $theme-color-gold;
        border-color: $theme-color-light-gold;
    }
}
