.card-custom{
    position: relative;
    height: 100%;
    min-height: 25em;
    width: 100%;
    border: 1px solid #000;

    &:hover{
        border-color: $theme-color-gold;
    }

    &__banner{
        height: auto;
        position: relative;
        display: block;
        width: 100%;

        img{
            object-fit: cover;
        }
    }

    &__title{
        display: block;
        position: relative;
        // padding: 0 .75em;
        min-height: 5em;
    }

    &__header{
        text-align: center;
        margin: .75em 0;
        font-size: 1.5em;
    }

    &__date{
        display: block;
        position: relative;
        padding: 0 .75em;
        text-align: center;
        color: #393f44;

        font-size: 1em;
        margin: 0;
    }

    &__time{
        display: block;
        position: relative;
        padding: 0 .75em;
        text-align: center;
        color: #4f5459;

        font-size: .9em;
        margin: 0;
    }
}
