.open-image{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: none;
    z-index: 15;
    display: none;

    background-color: rgba($color-black, .7);

    &__container{
        position: relative;
        margin: 7.5% auto 20%;
        max-width: 60em;
        width: 90%;
        padding: 1em;
        text-align: center;

        .button-left,
        .button-right{
            position: absolute;
            top: 50%;
            font-size: 25px;
            color: $color-white;

            &:hover{
                color: $theme-color-gold;
                transition: .2s all linear;
                cursor: pointer;
            }
        }

        .button-left{
            left: 0 ;
        }

        .button-right{
            right: 0;
        }

        img{
            max-width: 53.846em;
            width: 100%;
        }
    }

    &__close-container{
        position: absolute;
        top: -1em;
        right: 1em;
    }

    &__close-button{
        font-size: 2em;
        color: $color-white;

        &:hover{
            color: $theme-color-gold;
            transition: .2s all linear;
            cursor: pointer;
        }
    }
}

@media (max-width: 870px){
    .open-image{

        &__container{

            .button-right{
                right: -.45em;
            }

            .button-left{
                left: -.45em;
            }
        }

        &__close-container{
            right: -1em;
        }
    }
}
