// fade belongs to carousel items

.fade-carousel{
    -webkit-animation-name: fade-carousel;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-carousel;
    animation-duration: 1.5s; 
}

@-webkit-keyframes fade-carousel{
    from { opacity: .4 }
    to { opacity: 1 }
}

@keyframes fade-carousel{
    from { opacity: .4 }
    to { opacity: 1 }
}