.event-detail{
    margin: 10em 2em 3em;
    // color: $color-white;
    color: $theme-color-gold;

    &__container{
        position: relative;
        display: block;
        max-width: 60em;
        width: 100%;
        margin: 0 auto;
        // border: 1px solid #000;
        border: 1px solid #FFF;
        border-radius: 4px;

        &:hover{
            border-color: $theme-color-gold;
        }
    }   

    &s-main{
        // background-color: #FFF;
        background-color: $new-theme-black;
    }
}
