// Honeypot form input
#firstName{
    display: none;
}

.oobar-new-design{
    background-color: #494949;
    font-size: 13px;
    position: relative;
    
    .logo-header{
        position: relative;
        width: 100%;
        background-color: #FFF;
        padding: 1em 0;
    }

    .header-container{
        background-color: #eeeeee;
    }
    
    .home{
        
        padding: 3em 0;
        background-color: #FFF;

        &__carousel{
            margin-top: -3em;
            max-width: 100em;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    
        .about{
            &__title{
                padding-bottom: 5px;
            }
        }

        .events{
            margin: 2em 0;
            
            &__title{
                border-top: 1px solid #eee;
                padding: 15px 0 5px;
            }
        }
    }
}


.input-error{
    display: none;
    font-size: .85em;
    color: red;
}

#events-carousel{
    max-width: 90em;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

@media (max-width: 767px){
    #events-carousel{
        max-width: 25em;
    }

    .hotel-policy{
        text-align: left !important;
    }
}

@media (min-width: 1100px){
    .w-100{
        height: 600px !important;
    }
}
