#main-content{
    &::before{
        background-image: none !important;
    }
}

.content-bg:nth-of-type(2){
    padding: 3em 0;
}

// Honeypot form input
#firstName{
    display: none;
}

.input-error{
    display: none;
    font-size: .85em;
    color: red;
}