#main-content{
    background-size: cover;
    &::before{
        background-image: none !important;
    }
}

#home{
    height: 635px !important;
}

#home-new{
    width: 100%;
    height: auto;
    margin-top: 70px;

    .home-new__banner{
        width: 100%;

    }
}

#milestone{
    height: 20em;
}
.content-bg:nth-of-type(2){
    padding: 3em 0;
}

// Honeypot form input
#firstName{
    display: none;
}

.input-error{
    display: none;
    font-size: .85em;
    color: red;
}

#events-carousel{
    max-width: 90em;
    display: block;
    margin: 0 auto;
}
